html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.gloss {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.gloss__header {
    box-sizing: border-box;
    width: 100%;
    padding: 1vw 2vw;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gloss__credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gloss__credits span {
    color: #555;
    padding-right: 3em;
}

.gloss__credits span a {
    color: #333;
}

.gloss__header h1 {
    text-align: left;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.gloss__main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 1;
}

.gloss__form {
    box-sizing: border-box;
    width: 50%;
    position: relative;
}

.gloss__form form {
    display: flex;
    flex-flow: column wrap;
    margin: 1vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.gloss__form textarea {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1vw;
    white-space: pre-line;
    font-size: 0.8em;
}

.gloss__button {
    display: inline-block;
    padding: 0.3em 0.5em;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.gloss__button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.gloss__button[disabled],
.gloss__button[disabled]:hover {
    background: #fff;
    border-color: #ddd;
    color: #ddd;
    cursor: default;
}

.gloss__button-lg {
   font-size: 30px;
   margin-top: 2vw;
}

.gloss__button-sm {
   font-size: 12px;
   padding: 0.2em 0.5em;
}

.gloss__result {
    box-sizing: border-box;
    width: 50%;
    padding: 1vw;
    display: flex;
    flex-flow: column wrap;
    position: relative;
}

.gloss__loader {
    padding: 1vw;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-style: italic;
}

.gloss__words {
    overflow: auto;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Times, Times New Roman, serif;
}

.gloss__row {
    display: flex;
}

.gloss__row > div {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    white-space: nowrap;
    padding: 0.5em;
    position: relative;
}

.gloss__row:nth-child(2n) > div {
    background: #fafafa;
}

.gloss__row > div:last-child {
    border-right: none;
}

.gloss__row:first-child > div {
    font-weight: bold;
    text-align: center;
    padding: 0.7em;
}

.gloss__col-word {
    width: 12%;
}

.gloss__col-reading {
    width: 15%;
}

.gloss__col-meanings {
    width: 73%;
}

.gloss__edit-button {
    margin-right: 1em;
}

.gloss__remove-button {
    position: absolute;
    right: 0.5em;
}


.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #ddd;
    display: inline-block;
    font-size: 4px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0) translateY(-100%) translateX(100%);
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
