html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.gloss {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.gloss__header {
    box-sizing: border-box;
    width: 100%;
    padding: 1vw 2vw;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gloss__credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gloss__credits span a {
    color: #555;
    padding-right: 3em;
}

.gloss__credits span a {
    color: #333;
}

.gloss__header h1 {
    text-align: left;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.gloss__main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 1;
}

.gloss__form {
    flex: 1;
    padding: 1vw;
}

.gloss__form form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.gloss__form textarea {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1vw;
}

.gloss__button {
    font-size: 30px;
    margin-top: 2vw;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.gloss__button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.gloss__result {
    flex: 1;
    padding: 1vw;
    display: flex;
    flex-flow: column wrap;
}

.gloss__words {
    overflow: auto;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.gloss__result table {
    border-collapse: collapse;
    width: 100%;
    margin-top: -1px;
}

.gloss__result th,
.gloss__result tr:nth-child(2n) td {
    background: #fafafa;
}

.gloss__result th, .gloss__result td {
    border: 1px solid #ddd;
    border-left: none;
    white-space: nowrap;
    padding: 0.5em;
}

.gloss__result th:last-child, .gloss__result td:last-child {
    border-right: none;
}

.gloss__result th {
    font-weight: bold;
    text-align: center;
    padding: 0.7em;
}

.gloss__result td {
    font-family: Times, Times New Roman, serif;
}

.gloss__loader {
    text-align: center;
    padding: 1vw;
}
